$primary-color: #24292e;
$yellow-color: #c6b561;
$orange-color: #db8c39;
$white-color: #ffffff;

body {
  font-family: 'Open Sans', sans-serif;
  color: $primary-color;
}
.container {
  width: 980px;
  margin-right: auto;
  margin-left: auto;
}

a {
  color: #0366d6;
  text-decoration: none;
  font-size: 14px;
}

ul {
  list-style: none;
  padding: 0;
}

.btn {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-size: 110% 110%;
  -webkit-appearance: none;
  padding: 6px 12px;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(27, 31, 35, 0.2);
  border-image: initial;
  border-radius: 0.25em;
}

.page-content {
  padding: 20px;
  .columns {
    margin-right: -10px;
    margin-left: -10px;
    .column {
      float: left;
      margin-right: 10px;
      margin-left: 10px;
    }
    .two-thirds {
      width: 66.6667%;
      .newsfeed {
        border: 2px dashed rgba(27,31,35,0.3);
        border-radius: 5px;
        padding: 32px;
        h3 {
          line-height: 1.5;
          font-size: 22px;
          font-weight: 600;
        }
        p {
          font-size: 16px;
        }
        .btn-outline {
          color: rgb(3, 102, 214);
          background-color: rgb(255, 255, 255);
          background-image: none;
        }
      }
    }
    .sidebar {
      h3{
      display: block;
      padding: 9px 10px 10px;
      margin: 0;
      font-size: 14px;
      line-height: 17px;
      background-color: #f6f8fa;
      border: 1px solid rgba(27,31,35,0.15);
      border-bottom: 0;
      border-radius: 3px 3px 0 0;
      }
      .boxed-group-inner {
        padding: 10px;
        color: #586069;
        background: #fff;
        border: 1px solid #d1d5da;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }
  }
}

